In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [6]:
df = pd.read_csv('./data/bluenile_round_13k.csv')
print(df.shape)
df.Price.describe()

(72231, 17)

count      72231
unique     10183
top       $2,423
freq         430
Name: Price, dtype: object

In [7]:
df.columns

Index(['Unnamed: 0', 'Shape', 'Price', 'Carat', 'Color', 'Clarity', 'Polish',
       'Symmetry', 'Fluorescence', 'Depth', 'Table', 'L/W', 'Price/Ct',
       'Culet', 'Stock No.', 'Delivery Date', 'Cut'],
      dtype='object')

In [9]:
df.drop(['Unnamed: 0','Price/Ct','Stock No.','Delivery Date','Shape'],axis=1,inplace=True)

In [11]:
df['Carat Weight'] = df['Carat']
df['Depth %'] = df['Depth']
df['Table %'] = df['Table']
df['Length to Width'] = df['L/W']
df.drop(['Carat','Depth','Table','L/W'],axis=1,inplace=True)

In [16]:
df = df[['Carat Weight','Color','Clarity','Cut','Depth %','Table %','Polish','Symmetry','Length to Width','Culet','Fluorescence','Price']]
df.head(2)

,Carat Weight,Color,Clarity,Cut,Depth %,Table %,Polish,Symmetry,Length to Width,Culet,Fluorescence,Price
0,0.30,G,SI2,Ideal,62.3,56.0,Excellent,Excellent,1.00,None,None,$500
1,0.34,K,VVS1,Good,64.3,57.0,Good,Very Good,1.01,None,None,$500

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72231 entries, 0 to 72230
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Carat Weight     72231 non-null  float64
 1   Color            72231 non-null  object
 2   Clarity          72231 non-null  object
 3   Cut              72231 non-null  object
 4   Depth %          72231 non-null  float64
 5   Table %          72231 non-null  float64
 6   Polish           72231 non-null  object
 7   Symmetry         72231 non-null  object
 8   Length to Width  72231 non-null  float64
 9   Culet            72231 non-null  object
 10  Fluorescence     72231 non-null  object
 11  Price            72231 non-null  object
dtypes: float64(4), object(8)
memory usage: 6.6+ MB